<?xml version="1.0"?>
<launch>
    <!-- Debug Info -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
    <arg name="debug_config_parameter" default="false"/>
    <arg name="debug_kinematic_cal" default="false"/>
    <arg name="debug_collision_detection" default="false"/>
    <!-- GUI -->
    <arg name="gui" default="false" />


    <!-- Robot Simulation -->
    <include file="$(find jackal_gazebo)/launch/jackal_world.launch">
    <arg name="gui" value="$(arg gui)" />
    </include>
    
    <!-- Pedestrian simulator -->
    <include file="$(find pedestrian_simulator)/launch/simulation.launch"/>
    
    <!-- Robot state -->
    <include file="$(find mobile_robot_state_publisher)/launch/mobile_robot_publisher.launch">
    </include>
    
    <!-- Launch the Jackal controller node --> 
    <node pkg="mppi_planner" type="jackal_controller_node.py" name="jackal_controller" output="screen"/>
    
      
    <!-- configured rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mppi_planner)/rviz/jackal_simulator.rviz" output="log"/>
    
</launch>

